<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', path='/dist/output.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/node_modules/htmx.org/dist/htmx.min.js') }}"></script>
  </head>
  <body>
    {% block nav %}{% endblock %}

    <main class="container mx-auto min-h-screen py-24">
      <div class="flex flex-col items-center">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="w-full bg-base-100 border-t border-t-base-300">
      Footer
    </footer>

    <script>
      htmx.onLoad(function (content) {
        console.log("O TUTEJ! htmx sie zaladowal");
      });
    </script>
  </body>
</html>
